<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="keywords" content="foo,bar" />
    <meta name="description" content="foo" />
    <title>Adam's Anti-UX Experience</title>
    <link rel="stylesheet" href="{% static 'myui/index.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          crossorigin="anonymous">
  </head>
  <body class="p-4 cursor mb-5">
    <div align="right">
      <h1>the Anti-UX Blog</h1>
      <p>Task: Create an account and a short blog post.</p>
      <a id="signup-button" class="btn btn-danger signup btn-sm mb-5 text-black" href="{% url 'page1' %}">Sign Up</a>
      <a id="quit" class="btn btn-primary btn-lg mb-5" onclick="">Exit</a>
    </div>
  </body>
  {% comment %} <script>

      function moveButton() {
          var button = document.getElementById('signup-button');
          button.style.marginLeft = '200px'; // Adjust the value to your desired position
          button.innerHTML = "Error, try again."
          button.onclick = function() {
              button.setAttribute('href', href = "{% url 'page1' %}");

          }

      }
  </script> {% endcomment %}
</html>
{% comment %} source env/bin/activate {% endcomment %}
